# Day Objectives
## Introduction To Juypter Notebook
**BOLD**


*ITALIAN*


*TEXT
<img src="JUPYTER PHOTO.png">
1.ordered list 1

 2.ordered list 2

 3.ordered list 3

## Python Basics 

### Arthematic operations

In [1]:
##1

'''divija
divija1
divijag2''' #Using For Multi-line Comments
#->for single line comment

'divija\ndivija1\ndivijag2'

In [2]:
##2

##variable assignment
n=369
n

369

In [3]:
##3

n1=n
n

369

In [8]:
##4

n2=n1
n1

369

In [10]:
##5

##multi variables holding single value
n1=n2=n3=n
n2

369

In [15]:
##6

n=12
n
n1=10
n1##here we will get n1 as output (whatever we give atlast only that will be printed in output)

10

In [14]:
##7

n##can use same variable in different cells

12

In [16]:
##8

n=12
print(n) 
n1=10
n1##if we need to print all outputs then use 'print'(for last value we need not give,its a default value)

12

10

In [17]:
##9

n=12
n1=10
n1
print(n)

12

In [18]:
##10

n=1
n=2
n=3
print(n)
n1=2
print(n1)

3
2

In [34]:
##11

#type conversion: converting one datatype into another
x=10
print(x)#default type int
type(x)
y=str(x)
print(type(y))
print(float(x))
#type(x)

10
<class 'str'>
10.0

In [35]:
##12

#type conversion: converting one datatype into another
x=12
type(x)
float(x)
type(x)

int

In [36]:
##13

#type conversion: converting one datatype into another
x=12
type(x)
float(x)
#type(x)

12.0

In [37]:
#basic operations
##add
x=1
y=2
print
print(x+y) ##directly also we can get output by giving values, but the correct way is to do by taking variables 
##sub
k=-3
j=-4
print(k-j)
##mult
c=((x+y)*(k+j))
##division
print(c/2)#single modular division operator gives float value
print(c//2)#double single modular division operator gives int value
##modular
print(c%2)
c

3
1
-10.5
-11
1

-21

In [38]:
print(2+3)
print(1723687687*2869878668)#directly we can get output by giving values

5
4946774523215560916

In [39]:
a='k'
type(a)##string value directly cannot be coneverted into int,we must give assign variable with help of another variable

str

In [40]:
a='k'
int(str(a))
type(a)##here it didnot convert since we gave string value(str cannot be converted to int datatype)

ValueError: invalid literal for int() with base 10: 'k'

In [41]:
u="1"
print(u)
y=int(u)
print(y)#converting string to int datatype

1
1

# Indentation In Python 

## Indentation is nothing but space or tab

### Conditional statements

#### if,if else,if elif else,nested if

In [43]:
## If Condition 
## Write a program to know how to use if condition 
n=3
if(n%2==0):
    n=n+1
    print("n is even no.")
else:
    print("n is not even no.")

n is not even no.

In [44]:
a=int(input())
b=int(input())
if a > b:
    print("a is big")
else:
    print("b is big")

10
30
b is big

## String Slicing

In [45]:
s="python"
s

'python'

In [46]:
len(s) #len()is a method to know lenght of string

6

In [47]:
s[5]

'n'

In [48]:
s[11]

IndexError: string index out of range

In [49]:
print(s[2])
s[0]

t

'p'

In [53]:
s[-1]

'n'

In [1]:
a="divija ppp"
print(a.split())
a="divija1999"
print(a.split())

['divija', 'ppp']
['divija1999']

# (5/9/19)
## list
## tuple
## dictionary

# List

In [4]:
##list is represented by square braces 
##list is mutable
##forward indexing and backward indexin
v=[1,3.3,"satheesh",[1,2,3]]
v[0]

1

In [26]:
l=[1,2,3,4,5]
s=0
for i in l:
    s=s+1
print(s)
print(sum(l))

5

TypeError: 'int' object is not callable

In [27]:
a=-2.8
abs(a)
round(a)
b=[1,2,3]
len(b)
sum(b)
chr(98)
ord('B')
bin(5)
hex(15)

TypeError: 'int' object is not callable

In [30]:
name=[]
age=[]
for i in range(3):
    i=input("name:")
    name.append(i)
    j=int(input("age:"))
    age.append(j)  
print(name)
print(age)

name:p.sindhu
age:19
name:g.divija
age:17
name:b.geethika
age:18
['p.sindhu', 'g.divija', 'b.geethika']
[19, 17, 18]

In [38]:
l=[1,2,3,4]
l.insert(0,100)
print(l)
print(l.sort())
print(l.sort(reverse=True))
l

[100, 1, 2, 3, 4]
None
None

[100, 4, 3, 2, 1]

In [40]:
l=[1,2,3,4]
l.insert(0,100)
(l.sort(reverse=True))
l

[100, 4, 3, 2, 1]

In [41]:
del l

In [42]:
l#once we delete the list we cannot execute other operations

NameError: name 'l' is not defined

In [44]:
l.sort()l#once we delete the list we cannot execute other operations

SyntaxError: invalid syntax (<ipython-input-44-63d2005b4b51>, line 1)

## Tuple
## methods ,index ,count
## packing ,unpacking

In [48]:
#tuple is immutable
a=("python",'r',12)
print(a)
print(len(a))

('python', 'r', 12)
3

In [49]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

## Dictionaries

In [52]:
#here we get by key not by index, since dictionary do not have fixed index value 
#for key there must be a value,otherwise the default is none
#mutable
#key and value pair is item
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [53]:
d={"name":"p.sindhu","roll":"3","age":19}
d.values()
d.keys()
d.items()

dict_items([('name', 'p.sindhu'), ('roll', '3'), ('age', 19)])

In [54]:
d["name"]

'p.sindhu'

In [55]:
d["name"]="divija"

{'name': 'divija', 'roll': '3', 'age': 19}

In [57]:
d["gender"]="F"
d

{'name': 'divija', 'roll': '3', 'age': 19, 'gender': 'F'}

In [64]:
#using get method
d.get("name")

'g.divija'

In [59]:
d.update({"name":"g.divija"})
d

{'name': 'g.divija', 'roll': '3', 'age': 19, 'gender': 'F'}

In [60]:
d.setdefault("v")
d
#none in output represents that it donot contains any value

{'name': 'g.divija', 'roll': '3', 'age': 19, 'gender': 'F', 'v': None}

In [61]:
d["a"]="a"
d

{'name': 'g.divija',
 'roll': '3',
 'age': 19,
 'gender': 'F',
 'v': None,
 'a': 'a'}

In [66]:
d.setdefault("p")
d

{'name': 'g.divija',
 'roll': '3',
 'age': 19,
 'gender': 'F',
 'v': None,
 'a': 'a',
 'p': None}

In [136]:
d["p"]="divija"
d

NameError: name 'd' is not defined

In [69]:
l=[1,2]
a=[5,5]
x=dict(zip(a,l))
x

{5: 2}

In [43]:
#*

##check whether the given no. is in range or not
##Lb=lower bound
##Ub=upper bound
##lb=20,ub=30
def check_range():
    if(n>lb and n<ub):
        print("a,b")
    else:
        print("a,b")
lb=int(input("lb"))
ub=int(input("ub")) 
n=int(input("not in range"))
print(check_range())

lb8
ub94
not in range55
a,b
None

In [65]:
#calculate no. of digits
##i/p:12345 o/p:5
def count1(n):
    #n=int(input("Enter number:"))
    count=0
    while(n!=0):
        r=n%10
        count=count+1
        n=n//10
    print("The number of digits in the number are:",count)
count1(12345)
#or
len(str("we"))

The number of digits in the number are: 5

2

In [69]:
# Print the leap years within the given range
#lowerbound=1990
#upperbound=2020
def leapyear(i):
    lb=int(input("enter lowerbound"))
    ub=int(input("enter upperbound"))
    for i in range(lb,ub):
        if(i%400==0)or(i%4==0 and i%100!=0):
            print(i) 
leapyear(2020)

enter lowerbound1990
enter upperbound2020
1992
1996
2000
2004
2008
2012
2016

In [59]:
#**
# Python program to count the 
# number of numbers in a given range 
# using traversal and mutliple line code 

def count(list1, l, r): 
c=0
# traverse in the list1 
 for x in list1: 
    if x>= l and x<= r: 
        c=c+1
         return(c) 
    list1 = [10, 20, 30, 40, 50, 40, 40, 60, 70] 
    l = 40
    r = 80
    print count(list1, l, r)

IndentationError: expected an indented block (<ipython-input-59-bd6f3be5b459>, line 6)

In [141]:
#**
##check whether the given is in range or not
##Lb=lower bound
##Ub=upper bound
##lb=20,ub=30
def check_range():
    if(n>=lb and n<=ub):
        print(n,"n is in range")
    else:
        print(n,"n is not in range")
check_range(lb,ub)

TypeError: check_range() takes 0 positional arguments but 2 were given

In [73]:
#prime
def isprime(n):
    count=0
    for i in range(2,n//2+1):
        if(n%i==0):
            count+=1
    if count==0:
        return True 
    else:
        return False
isprime(7)

True

In [82]:
##print the prime no.s in given range(2,50)
def prime(lb,ub):
    for i in range(lb,ub+1):
        if isprime(i):
            print(i)
prime(2,50)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [84]:
#check if a given string equal to number
n="one"
s=1
if str(s)==n:#here we use type conversion,since we cannot compare int and strings  
    print(True)
else:
    print(False)

False

In [91]:
##perfect numbers 
#i/p:6 1,2,3   (1+2+3=6)
def perfect_number(n):
    sum = 0
    for x in range(1, n):
        if n % x == 0:
            sum += x
    return sum == n
print(perfect_number(496))

True

In [142]:
def perfect_number(n):
    sum = 0
    for x in range(1, 1000):
        if n % x == 0:
            sum += x
    return sum == n
print(perfect_number(6))

False

In [144]:
##**
def per(lb,ub):
    lb=int(input(i))
    ub=int(input(i))
    for i in range(lb,ub+1):
        if(per1(i)):
            print(i)
per(lb,ub)

UnboundLocalError: local variable 'i' referenced before assignment

In [119]:
#**
##given 2 var if one of them is 10 or their sum equals to Return True else return false
def variables(a,b):
    if(a==10 or b==10):
        return True
    elif (a+b=10):
         return True
    else:
         return False
variables(5,5)

SyntaxError: invalid syntax (<ipython-input-119-88559a68a766>, line 5)

In [120]:
#concatinating 2 strs
#using  "+"operand
#o/p: hello

In [132]:
#li=[10,9,8,7,6]
#sort list in asc order=[6,7,8,9,10]
#max ele in list
#min ele in list
##2nd largest no. in list
li=[10,9,8,7,6]
print(min(li))

6

In [127]:
li=[10,9,8,7,6]
max(li)

10

In [129]:
li.sort()
li

[6, 7, 8, 9, 10]

In [130]:

li[-2]

9

In [135]:
#method2
def elements():
    num=[1,2,3,4,5]
    num.sort()
    print(num)
    print(max(num))
    print(min(num))
    print(num[-2])
elements()

[1, 2, 3, 4, 5]
5
1
4